@import '~themes/variable.less';
.eh-data-park-energy-consumption {
    .react-grid-item {
        background-repeat: no-repeat;
        background-size: 15%;
        background-position-x: 10%;
        &:nth-child(1) {
            background-image: url("./widgets/svg/water.svg");
        }
        &:nth-child(2) {
            .widget-content>div {
                height: 30%;
                ul {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        &:nth-child(3) {
            background-image: url("./widgets/svg/electricity.svg");
        }
    }
    .widget-content {
        padding: 0 24px;
    }
    .number {
        // margin-bottom: 2px;
        height: 60%;
        position: relative;
        >.com-number {
            position: absolute;
            top: 40%;
            height: 40%;
        }
    }
    .button {
        height: 40%;
        >div {
            display: flex;
            height: 50%;
            width: 30%;
            position: relative;
            top: 50%;
            justify-content: center; // justify-items: center;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.65);
            font-size: @font-size-18;
            cursor: pointer;
             :after {
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
            img {
                width: 15%;
            }
            span {
                display: inline-block;
                padding: 0 8px;
            }
        }
    }
}

.ant-modal-body {
    // display: flex;
    .react-grid-layout {
        >div {
            background: linear-gradient(-180deg, #0066B3 0%, rgba(0, 102, 179, 0.13) 100%);
            padding: 24px;
            span {
                display: block;
                width: 100%;
                text-align: left;
                font-size: @font-size-20;
                font-weight: 200;
                &:nth-of-type(1) {
                    display: inline-block;
                    color: #FFFFFF;
                }
                &:nth-of-type(2) {
                    font-size: @font-size-32;
                    color: #F9CF50;
                }
                &:nth-of-type(3) {
                    color: rgba(249, 207, 80, 0.4);
                }
            }
        }
    }
}

.com-card {
    border: 1px solid red;
    width: 20%;
    height: 20%;
    display: inline-block;
    margin: 0 4px;
    background: linear-gradient(-180deg, #0066B3 0%, rgba(0, 102, 179, 0.13) 100%);
}
