@import '~themes/variable.less';
.eh-data-park-energy-consumption {
    .widget-content {
        padding: 0 24px;
    }
    .number {
        // margin-bottom: 2px;
        height: 60%;
        position: relative;
        >.com-number {
            position: absolute;
            top: 40%;
            height: 40%;
        }
    }
    .button {
        height: 40%;
        >div {
            display: flex;
            height: 50%;
            width: 30%;
            position: relative;
            top: 50%;
            justify-content: center; // justify-items: center;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.65);
            font-size: @font-size-18;
            cursor: pointer;
             :after {
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
            img {
                width: 15%;
            }
            span {
                display: inline-block;
                padding: 0 8px;
            }
        }
    }
}

.ant-modal-body {
    display: flex;
}

.com-card {
    border: 1px solid red;
    width: 20%;
    height: 20%;
    display: inline-block;
    margin: 0 4px;
    background: linear-gradient(-180deg, #0066B3 0%, rgba(0, 102, 179, 0.13) 100%);
}
