APScheduler==3.5.1
Cython==0.28.2
et-xmlfile==1.0.1
Flask==0.10.1
Flask-Cors==3.0.3
itsdangerous==0.24
jdcal==1.4
Jinja2==2.8
MarkupSafe==0.23
mysql-connector-python-cext==2.1.7
numpy==1.14.2
openpyxl==2.5.2
pystan==2.17.1.0
pytz==2018.4
redis==2.10.6
six==1.11.0
tzlocal==1.5.1
vboxapi==1.0
Werkzeug==0.11.10
