@import "~themes/variable.less";
.eh-visualization {
    height: 100vh; // padding: 16px 0;
    background: @background-color; // #02073D;
    background-image: url("./background.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    >div {
        height: e("calc(100vh - 72px)");
    }
}
