@import "~themes/variable.less";
.eh-data-carousel-table {
    height: 100%;
    width: 100%;
    >div {
        height: 100%;
        overflow: hidden;
        table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            th,
            td {
                vertical-align: top;
            }
            thead th {
                vertical-align: bottom;
            }
        }
        table {
            &:last-of-type {
                width: 100%;
                table-layout: fixed;
                height: 80%;
                overflow: hidden;
                tbody {
                    overflow: hidden;
                    width: 100%;
                }
                thead,
                tbody,
                tr,
                td,
                th {
                    display: block;
                    font-size: @font-size-12;
                }
                tbody {
                    >tr {
                        height: 40px;
                        td {
                            color: #FFFFFF;
                            float: left;
                            padding-right: 8px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            height: 100%;
                        }
                    }
                }
            }
            thead {
                height: 10%;
                tr {
                    height: 10%;
                    th {
                        color: #7D98EA;
                        text-align: left;
                        float: left;
                    }
                }
            }
        }
    }
}
